<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx.xsd
                     http://www.springframework.org/schema/context 
                     http://www.springframework.org/schema/context/spring-context.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd
                     http://www.springframework.org/schema/jdbc
                     http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
                     http://www.springframework.org/schema/util      
          			 http://www.springframework.org/schema/util/spring-util-3.2.xsd
                     http://www.springframework.org/schema/mvc 
  					 http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	<!-- 注释扫描,支持注解 -->
	<context:component-scan base-package="demo" />	

	
	<!-- 开启springmvc对象到json数据的转换功能 -->
	<mvc:annotation-driven />
	
  <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>
	<!-- 视图加载 -->
	  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>  
        <property name="prefix" value="/views/"/>  
        <property name="suffix" value=".jsp"/>  
      </bean>   
        
      <!--  <bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="order" value="10"></property>  
        <property name="prefix" value="/"></property>  
        <property name="contentType" value="text/html"></property>  
    </bean> -->  
	
	

	
</beans>
